.timer-wrapper {
  display: flex;
  justify-content: center;
}

.digit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.digit {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 30px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  overflow: hidden;
  transform: rotateX(180deg);
  animation: flip 1s ease-in-out infinite;
}

.digit span {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.digit-0 {
  transform: translateY(0px);
}

.digit-1 {
  transform: translateY(-50px);
}

.digit-2 {
  transform: translateY(-100px);
}

.digit-3 {
  transform: translateY(-150px);
}

.digit-4 {
  transform: translateY(-200px);
}

.digit-5 {
  transform: translateY(-250px);
}

.digit-6 {
  transform: translateY(-300px);
}